* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
    background: linear-gradient(to right, #ffc371, #ff5f6d);
}